{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="most voted places in THESSALONIKI">

    <title>skg list</title>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <div class="grid">
        <div class="alert" id="alert">
            Vote registered.
            <br>You can vote again in 24&nbsp;hours.
        </div>

        <a href="{% url 'main:group' group.route %}" class="logo">
            {{ group.name }}
        </a>
        <div class="one">
        </div>
        <div class="two">
        </div>
        <div class="three">
        </div>
        <div class="four">
        </div>
        <div class="six">
        </div>
        <div class="seven">
        </div>
        <div class="eight">
        </div>
        <div class="nine">
        </div>
        <div class="places">
            <div class="places-message">
                Click on the arrow to&nbsp;vote.
                <br>You can vote a place once every&nbsp;24h.
            </div>
            {% for item in group.members.all %}
            <div class="places-item">
                <div class="places-item-head">
                    <a href="#" class="places-item-head-vote" data-id="{{ item.id }}">
                        <img src="{% static 'images/arrow.svg' %}" alt="vote icon">
                    </a>
                    <div class="places-item-head-ranking">{{ forloop.counter }}</div>
                </div>
                <a href="{{ item.link }}" class="places-item-body">
                    <div class="places-item-body-title">{{ item.name }}</div>
                    <div class="places-item-body-address">{{ item.address }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="eat">
            <a href="{% url 'main:food' %}" class="eat-icon" title="Food. Fancy, fast, everything edible." style="opacity: 0;"></a>
                <img src="{% static 'images/cereal.svg' %}" alt="food icon">
            </a>
        </div>
        <div class="five-down">
            <a href="{% url 'main:group_create' %}" class="list-icon" title="Create your own list." style="opacity: 0;">
                <img src="{% static 'images/list.svg' %}" alt="list icon">
            </a>
        </div>
        <div class="five-up">
            <a href="{% url 'main:index' %}" class="home-icon" title="Go to skg list homepage.">
                <img src="{% static 'images/home.svg' %}" alt="home icon">
            </a>
        </div>
        <div class="drink">
            <a href="{% url 'main:drink' %}" class="drink-icon" title="Drink. Alcohol, coffee, everything drinkable." style="opacity: 0;"></a>
                <img src="{% static 'images/wine.svg' %}" alt="wine icon">
            </a>
        </div>
    </div>
    {% csrf_token %}

    <script>
        function getCsrf() {
            var inputElems = document.querySelectorAll('input');
            var csrfToken = '';
            for (let i = 0; i < inputElems.length; ++i) {
                if (inputElems[i].name === 'csrfmiddlewaretoken') {
                    csrfToken = inputElems[i].value;
                    break;
                }
            }
            return csrfToken;
        }

        var voteElems = document.getElementsByClassName('places-item-head-vote');
        var i = 0;
        for (i = 0; i < voteElems.length; i++) {
            voteElems[i].addEventListener('click', function (event) {
                event.preventDefault();
                var placeId = event.target.parentNode.dataset.id;
                var url = document.location.origin + '/vote/';
                var xhr = new XMLHttpRequest();
                var body = {
                    'place': placeId,
                };
                xhr.open('POST', url, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.setRequestHeader('X-CSRFToken', getCsrf());
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        document.getElementById('alert').classList.add('alert-visible');
                        setTimeout(function () {
                            document.getElementById('alert').classList.add('alert-hidden');
                            setTimeout(function () {
                                document.getElementById('alert').classList.remove('alert-visible');
                                document.getElementById('alert').classList.remove('alert-hidden');
                            }, 200);
                        }, 1000);
                    }
                };
                xhr.send(JSON.stringify(body));
            });
        }
    </script>
</body>
</html>
