{% extends 'main/scaffold.html' %}

{% load static %}

{% block title %}skg list / featured{% endblock %}

{% block content %}
<div class="alert" id="alert">
    Vote registered.
</div>

<div class="scroll" title="Scroll down." id="scroll">
    <img src="{% static 'images/arrow-down.svg' %}" alt="scroll down icon">
</div>

<header>
    <div class="header-content">
        <a href="{% url 'main:group_list' %}">
            skg list / featured
        </a>
    </div>
</header>

<section class="places">
    {% if messages %}
        {% for message in messages %}
            <div class="places-share">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="places-message" style="color: #ff3d3d">
        Featured Lists. <a href="{% url 'main:group_create' %}">Make your own</a>.
    </div>

    {% for item in groups %}
    <div class="places-item" style="border-color: #ff3d3d; height: 75px;">
        <div class="places-item-head" style="width: 100px;">
            <div class="places-item-head-ranking">{{ forloop.counter }}</div>
        </div>
        <a href="{% url 'main:group' item.route item.slug %}" class="places-item-body">
            <div class="places-item-body-title">{{ item.name }}</div>
        </a>
    </div>
    {% endfor %}
    <div class="places-create">
        <a href="{% url 'main:group_create' %}" class="places-create-link" style="background: #ff3d3d;">create list</a>
    </div>
</section>

{% csrf_token %}

<script>
    function getCsrf() {
        var inputElems = document.querySelectorAll('input');
        var csrfToken = '';
        for (let i = 0; i < inputElems.length; ++i) {
            if (inputElems[i].name === 'csrfmiddlewaretoken') {
                csrfToken = inputElems[i].value;
                break;
            }
        }
        return csrfToken;
    }

    var voteElems = document.getElementsByClassName('places-item-head-vote');
    var i = 0;
    for (i = 0; i < voteElems.length; i++) {
        voteElems[i].addEventListener('click', function (event) {
            event.preventDefault();
            var placeId = event.target.parentNode.dataset.id;
            var url = document.location.origin + '/vote/';
            var xhr = new XMLHttpRequest();
            var body = {
                'place': placeId,
            };
            xhr.open('POST', url, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.setRequestHeader('X-CSRFToken', getCsrf());
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('alert').classList.add('alert-visible');
                    setTimeout(function () {
                        document.getElementById('alert').classList.add('alert-hidden');
                        setTimeout(function () {
                            document.getElementById('alert').classList.remove('alert-visible');
                            document.getElementById('alert').classList.remove('alert-hidden');
                        }, 200);
                    }, 1000);
                }
            };
            xhr.send(JSON.stringify(body));
        });
    }

    function scrollToBottom() {
        window.scroll({
            top: document.documentElement.scrollHeight,
            left: 0,
            behavior: 'smooth'
        });
    };

    function scrollToTop() {
        window.scroll({
            top: 0,
            left: 0,
            behavior: 'smooth'
        });
    };

    document.getElementById('scroll').addEventListener('click', scrollToBottom);
    window.onscroll = function() {
        if (document.body.scrollHeight - window.innerHeight - window.scrollY === 0) {
            document.getElementById('scroll').removeEventListener('click', scrollToBottom);
            document.getElementById('scroll').addEventListener('click', scrollToTop);
        }
        if (window.scrollY === 0) {
            document.getElementById('scroll').removeEventListener('click', scrollToTop);
            document.getElementById('scroll').addEventListener('click', scrollToBottom);
        }
    };
</script>
{% endblock %}
