{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="most voted places in THESSALONIKI">

    <title>skglist</title>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <div class="grid">
        <a href="{% url 'main:index' %}" class="logo">
            skg list
        </a>
        <div class="one">
        </div>
        <div class="two">
        </div>
        <div class="three">
        </div>
        <div class="four">
        </div>
        <div class="six">
        </div>
        <div class="seven">
        </div>
        <div class="eight">
        </div>
        <div class="nine">
        </div>
        <div class="places">
            {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            {% for item in places %}
            <div class="places-item">
                <div class="places-item-head">
                    <a href="#" class="places-item-head-vote" data-id="{{ item.id }}">
                        <img src="{% static 'images/arrow.svg' %}" alt="vote icon">
                    </a>
                    <div class="places-item-head-ranking">{{ forloop.counter }}</div>
                </div>
                <a href="#" class="places-item-body">
                    <div class="places-item-body-title">{{ item.name }}</div>
                    <div class="places-item-body-address">{{ item.address }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="eat">
            <!-- eat -->
        </div>
        <div class="five-down">
        </div>
        <div class="five-up">
        </div>
        <div class="drink">
            <!-- drink -->
        </div>
    </div>
    {% csrf_token %}

    <script>
        function getCsrf() {
            var inputElems = document.querySelectorAll('input');
            var csrfToken = '';
            for (let i = 0; i < inputElems.length; ++i) {
                if (inputElems[i].name === 'csrfmiddlewaretoken') {
                    csrfToken = inputElems[i].value;
                    break;
                }
            }
            return csrfToken;
        }

        var voteElems = document.getElementsByClassName('places-item-head-vote');
        var i = 0;
        for (i = 0; i < voteElems.length; i++) {
            voteElems[i].addEventListener('click', function (event) {
                event.preventDefault();
                var placeId = event.target.parentNode.dataset.id;
                var url = document.location.href + 'vote/';
                var xhr = new XMLHttpRequest();
                var body = {
                    'place': placeId,
                };
                xhr.open('POST', url, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.setRequestHeader('X-CSRFToken', getCsrf());
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        window.location.reload(true);
                    }
                };
                xhr.send(JSON.stringify(body));
            });
        }
    </script>
</body>
</html>
