{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
    <meta name="description" content="most voted places in THESSALONIKI">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="skglist.com">
    <meta property="og:title" content="skg list">
    <meta property="og:description" content="most voted places in THESSALONIKI">
    <meta property="og:image" content="https://skglist.com/static/images/logo.png">
    <meta property="og:url" content="https://skglist.com/">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
